body {
  padding: 10px 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  background-color: #212121;
}

/* View MatCap page */
.container {
  display: flex;
  align-items:flex-start;
}

.menus {
  padding-left: 10px;
}

.loadMatcapOption {
  padding-top: 10px;
}

#myImgMatcap {
  width: 100%;
}

.divMatcapImg {
  width: 120px;
  height: auto;
  overflow: hidden;
  padding-top: 10px;
}


/* Create matcap page */
.divLightSettings {
  display: flex;
  margin-top: 5px;
}

.paramSettings {
  margin-left: 20px;
}

#downloadTButton {
  margin-top: 220px;
}

.loadTextureOption {
  padding-top: 10px;
}

#myImgTexture {
  width: 100%;
}

.divTextureImg {
  width: 120px;
  height: auto;
  overflow: hidden;
  padding-top: 10px;
}



/* Create texture page */
.topButtons {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

#addPointButton {
  margin-bottom: 10px;
}

#addTriangleButton {
  margin-bottom: 10px;
}

#addCircleButton {
  margin-bottom: 10px;
}

#downloadButton {
  margin-top: 390px;
}

#download {
  text-decoration: none;
  color: black;
  margin-top: 40px;
}

.colorSettings {
  display: flex;
}

.background {
  display: flex;
  align-items: center;
  width: 600px;
}

.divColorBckgrnd {
  display: flex;
  justify-content: center;
  align-items: center;
}

.divLoadBckgrnd {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
}

.pencil {
  display: flex;
  align-items: center;
  width: 100px;
  padding-top: 13px;
}

.penColor {
  padding-left: 100px;
}

#clearButton {
  margin-top: 20px;
}
